html{
	color-scheme:only dark;
	--H:120;
	--S:10%;
	--OddBG:hsl(var(--H),var(--S),23%);
	--EvenBG:hsl(var(--H),var(--S),26%);
	--FG:white;
	--BG:hsl(var(--H),var(--S),20%);
	--UpSlope:hsl(var(--H),var(--S),50%);
	--DownSlope:hsl(var(--H),var(--S),5%);
	--SelS:50%;
	--Sel:hsl(var(--H),var(--SelS),35%);
	accent-color:var(--Sel);
	--SelUpSlope:hsl(var(--H),var(--SelS),65%);
	--SelDownSlope:hsl(var(--H),var(--SelS),20%);
	--DisabledBG:hsl(var(--H),var(--S),25%);
	--DisabledFG:hsl(var(--H),var(--S),80%);
	--DisabledUpSlope:hsl(var(--H),var(--S),55%);
	--DisabledDownSlope:hsl(var(--H),var(--S),10%);
	--Link:hsl(200,100%,60%);
	--Mark1:hsl(var(--H),10%,35%);
	--Mark2:hsl(30,80%,35%);
	--Good:hsl(120,100%,20%);
	--Bad:hsl(0,100%,20%);
	--Cover:hsla(var(--H),var(--S),5%,.25);
}
input,body,textarea,select,.btn{
	font-size:16px;
	color:var(--FG);
	background-color:var(--BG);
}
input:checked{
	background-color:var(--FG);
}
input[type=radio]{
	border-radius:50%;
}
input,textarea,fieldset,input[type=button]:not(:disabled):active,.pathcontainer,.resizebox,input[type=file]:not(:disabled):active,select:not(:disabled):active,.btn:active{
	border:2px solid var(--DownSlope);
	border-bottom-color:var(--UpSlope);
	border-right-color:var(--UpSlope);
}
.selbtn{
	--BG:var(--Sel);
	--UpSlope:var(--SelUpSlope);
	--DownSlope:var(--SelDownSlope);
}
input[type=text],input[type=number],textarea{
	white-space:pre-wrap;
	margin:0;
	padding:2px;
}
input,textarea{
	vertical-align:middle;
}
input,textarea,select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
optgroup{
	color:var(--FG);
	background-color:var(--BG);
	white-space:pre-wrap;
	font-size:16px;
}
option{
	background-color:var(--EvenBG);
	color:var(--FG);
	white-space:pre-wrap;
	font-size:16px;
}
option:nth-child(odd){
	background-color:var(--OddBG);
}
input[type=button],input[type=file],select,.btn{
	margin:0;
	border:2px solid var(--UpSlope);
	border-bottom-color:var(--DownSlope);
	border-right-color:var(--DownSlope);
	white-space:pre-wrap;
	padding:2px 4px;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	touch-action:manipulation;
}
summary{
	background-color:var(--BG);
	border:1px solid var(--UpSlope);
	border-bottom-color:var(--DownSlope);
	border-right-color:var(--DownSlope);
	white-space:pre-wrap;
	padding:2px 4px;
	margin:0;
	touch-action:manipulation;
}
summary:active,.bor1,.tableborder th,.tableborder td{
	border:1px solid var(--DownSlope);
	border-bottom-color:var(--UpSlope);
	border-right-color:var(--UpSlope);
}
select{
	padding:2px 22px 2px 4px;
	background-image:repeating-linear-gradient(var(--FG),var(--FG) 2px,transparent 2px,transparent 5px);
	background-repeat:no-repeat;
	background-size:16px 12px,100% 100%;
	background-position:right 4px center;
	border-radius:0;
}
#modals{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color:var(--Cover);
	display:flex;
	contain:strict;
}
#modals>*{
	margin:auto;
	overflow:auto;
	max-width:calc(100% - 20px);
	max-height:calc(100% - 20px);
	border:2px solid var(--UpSlope);
	border-bottom-color:var(--DownSlope);
	border-right-color:var(--DownSlope);
	background-color:var(--BG);
	padding:8px;
	contain:content;
}
[inert]{
	pointer-events:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.grid2{
	display:grid;
	grid-template-columns:auto auto;
}
.xmlie{
	grid-template-rows:30px 30px 30px auto;
}
.sortdialog{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-template-rows:auto 30px;
}
[data-select-mode],.nosel{
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
input[type=checkbox],input[type=radio]{
	width:18px;
	height:18px;
	margin:0;
	padding:0;
	touch-action:manipulation;
}
@media only screen and (pointer:coarse){
	input[type=button],input[type=file],select,.btn,summary,select{
		padding-top:4px;
		padding-bottom:4px;
	}
	input[type=checkbox],input[type=radio]{
		width:24px;
		height:24px;
	}
}
input:disabled,select:disabled{
	cursor:not-allowed;
	opacity:1;
	--BG:var(--DisabledBG);
	--FG:var(--DisabledFG);
	--UpSlope:var(--DisabledUpSlope);
	--DownSlope:var(--DisabledDownSlope);
}
*{
	box-sizing:border-box;
	font-family:monospace;
	font-kerning:none;
	font-variant-ligatures:none;
	text-rendering:optimizeSpeed;
	line-height:1.15;
}
.btn{
	text-decoration:none;
	color:inherit;
}
.pathcontainer2>input{
	height:100%;
	margin:0;
	white-space:pre;
	padding:0 4px;
}
fieldset{
	margin:0;
	padding:2px 8px 8px;
}
details{
	margin:0;
	padding:0;
	border:1px solid var(--UpSlope);
	border-bottom-color:var(--DownSlope);
	border-right-color:var(--DownSlope);
	overflow:visible;
}
details[open]{
	border:2px solid var(--DownSlope);
	border-bottom-color:var(--UpSlope);
	border-right-color:var(--UpSlope);
	padding:0 4px 4px;
}
details[open]>summary{
	margin:-1px -5px 3px;
}
.bigd{
	margin:8px 0 0;
}
.bigd>summary{
	font-size:25px;
	font-weight:bold;
	padding:2px 4px;
}
::selection{
	background-color:var(--Sel);
	color:var(--FG);
}
::-moz-selection{
	background-color:var(--Sel);
	color:var(--FG);
}
:focus-visible{
	outline-offset:-2px;
	outline:1px dotted var(--FG);
}
:-moz-focusring{
	outline-offset:-2px;
	outline:1px dotted var(--FG);
}
.tdi.tdi>*{
	display:block;
	margin:0;
	width:100%;
	height:25px;
	padding-top:0;
	padding-bottom:0;
}
.tdi{
	padding:0;
	height:25px;
}
.tdf{
	width:25px;
	height:25px;
	position:relative;
	padding:0;
}
.tdf>input{
	margin:0;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:25px;
	height:25px;
	padding:0;
}
.dict_items_list_container{
	position:fixed;
	top:50px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	border-top:2px solid var(--DownSlope);
	background-color:var(--BG);
	contain:strict;
}
.dict_items_list{
	display:flex;
	flex-direction:column;
	padding:1px;
	margin-right:auto;
	counter-reset:dict_item;
	width:-webkit-max-content;
	width:-moz-max-content;
	width:max-content;
}
.dict_items_list_wrap{
	flex-wrap:wrap;
	height:100%;
}
.dict_items_list>div{
	display:flex;
	padding:1px;
}
.itemanim{
	animation:1s itembg;
}
.dict_items_list>div:before{
	counter-increment:dict_item;
	content:counter(dict_item)'.';
	line-height:0;
	margin:auto 0;
	width:var(--cl);
}
.dict_items_list>div>input{
	white-space:pre;
}
.draggingitem>div>input{
	pointer-events:none;
}
.itemdraggingover{
	box-shadow:0 2px var(--Sel) inset,0 -2px var(--SelUpSlope);
}
.pathcontainer{
	position:fixed;
	top:0;
	left:50px;
	right:0;
	height:50px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:pre;
	background-color:var(--BG);
	contain:strict;
}
[data-select-mode='0']>.pathcontainer>.path,[data-select-mode='1']>.pathcontainer>.sopts{
	display:inline;
}
.onlylast>:not(:last-child),[data-select-mode='1']>.pathcontainer>.path,[data-select-mode='0']>.pathcontainer>.sopts{
	display:none;
}
.loading_cursor,.loading_cursor *{
	cursor:wait!important;
}
.dropb{
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:50px;
	height:50px;
	background-repeat:no-repeat,no-repeat;
	background-position:center,center;
	background-size:28px 28px;
	background-image:repeating-linear-gradient(var(--FG),var(--FG) 4px,transparent 4px,transparent 8px);
	color:transparent;
	padding:0;
	contain:strict;
}
#drag_arrow,#drag_arrow:before,#drag_arrow:after{
	height:4px;
	background-color:var(--FG);
	display:block;
	transform-origin:center left;
	overflow:visible;
	pointer-events:none;
	border-radius:2px;
	position:absolute;
}
#drag_arrow:before{
	content:'';
	width:20px;
	left:1px;
	transform:rotate(-.5rad);
}
#drag_arrow:after{
	content:'';
	width:20px;
	left:1px;
	transform:rotate(.5rad);
}
#drag_cover{
	background-color:var(--Cover);
	position:fixed;
	overflow:hidden;
	top:0;
	bottom:0;
	left:0;
	right:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	contain:strict;
}
.XSizerContainer{
	position:relative;
}
.XSizerA{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:calc(var(--prog) - 3px);
}
.XSizerB{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:calc(var(--prog) + 3px);
}
.XSizer{
	position:absolute;
	top:0;
	bottom:0;
	left:calc(var(--prog) - 3px);
	width:6px;
	background-color:var(--BG);
	border:2px solid var(--UpSlope);
	border-bottom-color:var(--DownSlope);
	border-right-color:var(--DownSlope);
	cursor:col-resize;
}
.objeditor{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	overflow:hidden;
	contain:strict;
}
.objeditorcol{
	display:flex;
	overflow:hidden;
	flex-direction:column;
	contain:strict;
}
.objeditorbtnbox{
	overflow:hidden;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:auto auto;
	contain:content;
}
.objeditorsbox{
	flex:1;
}
.resizebox{
	overflow:auto;
	resize:both;
	background-color:var(--BG);
	contain:strict;
}
.cselitem{
	touch-action:manipulation;
	cursor:default;
	padding-left:2px;
	height:24px;
	line-height:24px;
	white-space:nowrap;
	overflow:hidden;
	overflow:-moz-hidden-unscrollable;
	overflow:clip;
	contain:strict;
	background-color:var(--EvenBG);
}
.cselodd{
	background-color:var(--OddBG);
}
.cselsel{
	background-color:var(--Sel);
}
.csel2{
	overflow:hidden;
	overflow:-moz-hidden-unscrollable;
	overflow:clip;
}
.csel{
	overflow-x:hidden;
	overflow-y:scroll;
	contain:strict;
	overscroll-behavior:none;
	background-color:var(--BG);
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}
.tile.tile{
	contain:strict;
	width:calc(2ch + 55px);
	height:49px;
	padding:0 0 0 4px;
	box-shadow:calc(2ch + 6px) 0 var(--BG) inset,-4px 0 var(--BG) inset;
	text-align:left;
	background-repeat:no-repeat;
	background-image:url(tiles.png);
}
.objeditorfs{
	display:flex;
	flex-direction:column;
	grid-column:1/3;
}
.loading{
	display:inline-block;
	vertical-align:middle;
	width:30px;
	height:30px;
	animation-name:loading;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	animation-duration:.2s;
	position:relative;
	border:3px solid var(--FG);
	padding:5px;
	background-clip:content-box;
	background-color:var(--FG);
}
.helpimg,.helprimg:before{
	background-image:url(help.jpg);
	background-repeat:no-repeat;
	contain:strict;
}
.helprimg:before{
	background-position:var(--x) var(--y);
	display:block;
	content:'';
	position:absolute;
	width:var(--h);
	height:var(--w);
	left:var(--w);
	top:0;
	transform-origin:top left;
	transform:rotate(90deg);
}
.helprimg{
	position:relative;
	width:var(--w);
	height:var(--h);
	overflow:hidden;
	overflow:-moz-hidden-unscrollable;
	overflow:clip;
	contain:strict;
}
.tableborder{
	border-spacing:0;
	border:1px solid var(--UpSlope);
	border-bottom-color:var(--DownSlope);
	border-right-color:var(--DownSlope);
}
.tstroke,.when{
	text-shadow:-1px -1px var(--DownSlope),1px 1px var(--DownSlope),-1px 1px var(--DownSlope),1px -1px var(--DownSlope),0 -1px var(--DownSlope),0px 1px var(--DownSlope),-1px 0 var(--DownSlope),1px 0 var(--DownSlope);
}
.when{
	color:red;
}
.git_commit{
	margin-top:4px;
	text-align:right;
	font-size:12px;
}
a{
	color:var(--Link);
	text-decoration:underline;
}
h1{
	font-size:35px;
	margin:0;
}
h2{
	font-size:25px;
	margin:0;
}
ul,ol{
	margin:0;
}
.linside{
	padding:0;
	list-style-position:inside;
}
var,mark,.w,.wp,.wpb{
	background-color:transparent;
	background-size:100% 1.15em;
	background-position:center;
	background-repeat:no-repeat;
	background-image:linear-gradient(var(--Mark1),var(--Mark1));
	white-space:pre;
	color:var(--FGColor);
}
var,mark{
	background-image:linear-gradient(var(--Mark2),var(--Mark2));
}
hr{
	border:initial;
	border-top:1px solid var(--UpSlope);
	border-bottom:1px solid var(--DownSlope);
	margin:4px 0;
}
.wpb{
	font-weight:bold;
}
.w{
	white-space:pre-wrap;
}
.rl{
	display:inline-block;
	border:1px solid var(--UpSlope);
	border-right-color:var(--DownSlope);
	border-bottom-color:var(--DownSlope);
	padding:1px;
	touch-action:manipulation;
}
.hbox{
	display:flex;
}
.vbox{
	display:flex;
	flex-direction:column;
}
.growc>*{
	flex-grow:1;
}
a.thiccb{
	padding:10px;
	color:var(--Link);
	text-decoration:underline;
	white-space:pre-wrap;
}
input.thiccb{
	padding:10px;
	text-align:left;
}
input.npnb{
	white-space:pre;
	padding:0;
}
body{
	margin:8px;
}
legend{
	width:-webkit-max-content;
	width:-moz-max-content;
	width:max-content;
}
@keyframes loading{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(90deg);
	}
}
@keyframes itembg{
	from{
		background-color:var(--Sel);
	}
	to{
		background-color:transparent;
	}
}